In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [22]:
for item in high_school_types:
    print(item)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [23]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [24]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [25]:
# Add the Pandas dependency.
import pandas as pd

In [27]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [28]:
for i in school_series:
    print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [29]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [30]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [31]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [32]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [33]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [37]:
# Add the list to a new DataFrame.
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
df = pd.DataFrame(data=high_school_dicts)

In [39]:
df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [41]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [47]:
high_schools = [{"School ID": 0, "School Name": "Huang High School", "School Type": "Discrict"}, 
    {"School ID": 1, "School Name": "Figueroa High School", "School Type": "Discrict"},
    {"School ID": 2, "School Name":"Shelton High School", "School Type": "Charter"},
    {"School ID": 3, "School Name":"Hernandez High School", "School Type": "Discrict"},
    {"School ID": 4, "School Name":"Griffin High School", "School Type": "Charter"},
    {"School ID": 5, "School Name":"Wilson High School", "School Type": "Charter"},
    {"School ID": 6, "School Name": "Cabrera High School", "School Type": "Charter"},
    {"School ID": 7, "School Name":"Bailey High School", "School Type": "Discrict"},
    {"School ID": 8, "School Name":"Holden High School", "School Type": "Charter"},
    {"School ID": 9, "School Name":"Pena High School", "School Type": "Charter"},
    {"School ID": 10, "School Name":"Wright High School", "School Type": "Charter"},
    {"School ID": 11, "School Name":"Rodriguez High School", "School Type": "Discrict"},
    {"School ID": 12, "School Name":"Johnson High School", "School Type": "Discrict"},
    {"School ID": 13, "School Name":"Ford High School", "School Type": "Discrict"}, 
    {"School ID": 14, "School Name":"Thomas High School",  "School Type": "Charter"}]

In [48]:
high_schools

[{'School ID': 0,
  'School Name': 'Huang High School',
  'School Type': 'Discrict'},
 {'School ID': 1,
  'School Name': 'Figueroa High School',
  'School Type': 'Discrict'},
 {'School ID': 2,
  'School Name': 'Shelton High School',
  'School Type': 'Charter'},
 {'School ID': 3,
  'School Name': 'Hernandez High School',
  'School Type': 'Discrict'},
 {'School ID': 4,
  'School Name': 'Griffin High School',
  'School Type': 'Charter'},
 {'School ID': 5,
  'School Name': 'Wilson High School',
  'School Type': 'Charter'},
 {'School ID': 6,
  'School Name': 'Cabrera High School',
  'School Type': 'Charter'},
 {'School ID': 7,
  'School Name': 'Bailey High School',
  'School Type': 'Discrict'},
 {'School ID': 8,
  'School Name': 'Holden High School',
  'School Type': 'Charter'},
 {'School ID': 9, 'School Name': 'Pena High School', 'School Type': 'Charter'},
 {'School ID': 10,
  'School Name': 'Wright High School',
  'School Type': 'Charter'},
 {'School ID': 11,
  'School Name': 'Rodriguez High School',
  'School Type': 'Discrict'},
 {'School ID': 12,
  'School Name': 'Johnson High School',
  'School Type': 'Discrict'},
 {'School ID': 13,
  'School Name': 'Ford High School',
  'School Type': 'Discrict'},
 {'School ID': 14,
  'School Name': 'Thomas High School',
  'School Type': 'Charter'}]

In [49]:
df_high_schools = pd.DataFrame(data=high_schools)

In [50]:
df_high_schools

    School ID            School Name School Type
0           0      Huang High School    Discrict
1           1   Figueroa High School    Discrict
2           2    Shelton High School     Charter
3           3  Hernandez High School    Discrict
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    Discrict
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    Discrict
12         12    Johnson High School    Discrict
13         13       Ford High School    Discrict
14         14     Thomas High School     Charter